.Name{
    text-transform: uppercase;
    color: white;
    text-align: center;
    background: #207445e8;
}
.Calculator {
    margin: 0 auto;
    width: 275px;
    background: black;
}
.Calculator button{
    width: 55px;
    padding: 10px;

}
.Calculator .Plus, .Sub, .Multi, .Division, .Result, .Point, .Left, .Right, .Percent, .Result  {
    background: orangered;
}
.Total {
    font-size: 60px;
    width: 300px;
    height: 200px;
    text-align: center;
    color: white;
}
